*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  padding: 0;
  margin: 0;
  --hue: var(--hue-neutral);
  background-color: white;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header {
  margin: 10px;
  text-align: center;
  font: bold;
  color: aliceblue;
}

.container {
  width: 800px;
  max-width: 80%;
  border: 5px solid rgb(110, 209, 10);
  border-radius: 15px;
  box-shadow: 0 0 10px 2px;
  background-color: white;
  padding: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 80%);
  border: 5px solid hsl(var(--hue), 100%, 80%);
  border-radius: 5px;
}

.btn:hover {
  border-color: red;
}

.start-btn, .next-btn, .result-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.timer, .listscores {
  display: flex;
  text: white;
  margin: 50px;
}


input {
  background-color: #f1f3f4;
  border-radius: 2px;
  border-width: 0;
  color: #5f6368;
  font-size: 1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}

.listscores {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, #3c404326 0 1px 3px 1px;
  margin-top: 80px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position: relative;
}

.listscores::after {
  content: ' ';
  display: flex;
  clear: both;
}